{{define "send"}}
{{template "header" .}}
<div class="content text-center">

	<div class="container">
	    <div class="row">
	        <div class="col-sm-3">
						<p>Available Clients</p>

					</div>
	        <div class="col-sm-5">
						Send a Command
					</div>
	        <div class="col-sm-4">
						<p>Available Commands</p>
					</div>
	    </div>
	    <div class="row">
	        <div class="col-sm-3">
						<a href="#" id="get-data">Get Client List</a>
				    <div id="clientListList"></div>
					</div>
	        <div class="col-sm-5">
						<a href="#" id="beautify">Beautify</a>

							<div class="row">
									<div class="form-group">
										<input type="text" class="form-control input-lg" name="clientID" placeholder="1" required>
										<textarea name="data" id="textareajson" rows="4" cols="50"></textarea>
									</div>
							</div>

							<button type="submit" class="btn btn-primary">Shrink it!</button>
						</div>
	        <div class="col-sm-4">
							<p>imacommand</p>
					</div>
	    </div>
	</div>


<script>
$(document).ready(function () {
  $('#get-data').click(function () {
    var showData = $('#show-data');

    $.getJSON('http://localhost:7777/updateClientList', function (data) {
      console.log(data);
			var div = document.getElementById('clientListList');
			for (var i = 0; i < data.length; i++){
			  var obj = data[i];
				div.innerHTML += "<br> - " + data[i].clientID + ": " + data[i].clientName
			}
    });
  });

	$('#beautify').click(function () {
		var ugly = document.getElementById('textareajson').value;
    var obj = JSON.parse(ugly);
    var pretty = JSON.stringify(obj, undefined, 4);
    document.getElementById('textareajson').value = pretty;
	});
});

</script>

{{template "footer" .}}
{{end}}
